
.grid-menu {
    display : grid;
    grid-gap: 15px;
    padding : 0 18px;

    h3 {
        width         : 40px;
        border-bottom : 3px solid $color-tertiaire;
        font-weight   : 400;
        font-size     : 15px;
        margin-bottom : 0;
        margin-top    : 35px;
        padding-bottom: 5px;
    }

    h4 {
        margin     : 0;
        font-size  : large;
        padding-top: 10px;
    }

    p {
        margin        : 0;
        font-size     : 15px;
        padding-bottom: 10px;
        text-overflow : ellipsis;
    }
}