

    
        .resto-la-note-enchantée {
            .la-carte-du-resto-la-note-enchantée {
                   
                height         : 290px;
                display        : flex;
                flex-direction : column-reverse;
                background-size: cover;
            }
        }

        .resto-la-palette-de-goût {
            .la-carte-du-resto-la-palette-de-goût{
               
                height         : 290px;
                display        : flex;
                flex-direction : column-reverse;
                background-size: cover;
            }

        }

       .resto-a-la-française {
            .la-carte-du-resto-a-la-française {
                
                height         : 290px;
                display        : flex;
                flex-direction : column-reverse;
                background-size: cover;
            }
        }

     
             .resto-le-delice-des-sens{
                 .la-carte-du-resto-le-delice-des-sens{
               
                height         : 290px;
                display        : flex;
                flex-direction : column-reverse;
                background-size: cover;
            }
        }
    }

