/* Colors */
/* Purple6 */
$primary-color : #9c27b0;
$primary-light :#d05ce3;
$primary-dark : #6a0080;
/* Amber6 */
$secondary-color : #ffc107;
$secondary-light :#fff350;
$secondary-dark : #c79100;


  
   
.new {
position: absolute;
right: 10px;
top: 10px;
 background: #99E2D0;
color: green;
padding: 0.4em 0.8em;
}

